/* styles.css */

/* Reset and Basic Styles */
body {
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol';
    background-color: #000; /* Dark background for contrast */
    position: relative;
}

/* amCharts Globe */
#chartdiv {
    width: 100%;
    height: 100vh;
    background-color: transparent; /* Transparent to show any background if set */
}

/* Optional: Fullscreen Button Styling */
/*
button {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid white;
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 0.5rem 0.9em;
    background: #000000;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 3; On top of everything
}

button:hover {
    background: #ffffff;
    color: #000000;
}
*/
